*::before * *::after {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #1c1a19;
  font-family: "Roboto", sans-serif;
}

body p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header {
  height: 62px;
  padding: 0 154px;
  background-color: #3c3a39;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

label {
  display: none;
}

/*
---------------------------
Nav Bar Related
---------------------------
*/

header a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.project-mobile-template button {
  text-align: center;
  color: white;
  background: #f55800;
  border: none;
  cursor: pointer;
  height: 60px;
  line-height: 50px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  transition: 0.4s;
}

header a:hover {
  color: #ff6b00;
}

#logo {
  display: flex;
}

#logo a {
  font-weight: 700;
  font-size: 20px;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  display: inline;
  padding: 0 5px 0 5px;
  margin-right: 32px;
}

#menu-icon {
  display: none;
}

#menu-icon button {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

/*
---------------------------
*/

#about {
  width: 700px;
  margin-left: 165px;
  height: 540px;
  gap: 20px;
}

.project-mobile-popup h2 {
  align-self: flex-start;
  font-size: 32px;
}

.desktop-popup-main-div h2 {
  align-self: flex-start;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
}

#about h2 {
  margin-top: 130px;
  font-size: 72px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  color: #ff6b00;
}

.project-template p {
  width: 200px;
  margin-top: -20px;
  font-weight: 300;
}

.project-mobile-template p {
  margin-top: -20px;
  width: 295px;
}

.desktop-popup-paragraph-div p {
  font-size: 16px;
  line-height: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

#about p {
  width: 566px;
  margin: -50px 0 50px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

#about a {
  padding: 12px 10px;
  background-color: #f55800;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

#skills {
  height: 1195px;
  width: 100%;
  background-image: url("../../rsc/images/illustration-about.png");
  background-repeat: no-repeat;
  background-position: right bottom 750px;
  color: white;
}

#project-main a {
  padding: 15px;
  background-color: #f55800;
  color: white;
  text-decoration: none;
}

#project-mobile-main a {
  padding: 15px;
  background-color: #f55800;
  color: white;
  text-decoration: none;
}

#skills a {
  transition: 0.4s;
}

#buttons-mobile a {
  background-color: #f55800;
  padding: 14px 20px;
}

#buttons-desktop a {
  background-color: #f55800;
  padding: 14px 20px;
  transition: 0.3s;
}

#project-main a:hover {
  transition: 0.4s;
  border: 2px solid #f55800;
  background: none;
  color: #f55800;
}

#project-mobile-main a:hover {
  transition: 0.4s;
  border: 2px solid #f55800;
  background: none;
  color: #f55800;
}

#skills a:hover {
  transition: 0.4s;
  border: 2px solid #f55800;
  background: none;
  color: #f55800;
}

#skills hr {
  width: 1156px;
  border: none;
  border-top: 1px solid white;
}

#skill-list {
  width: 1200px;
  margin: 100px 0 0 170px;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.333fr 0.333fr 0.333fr;
  font-family: 'Inter', sans-serif;
}

#skill-list h2 {
  font-weight: 700;
  font-size: 32px;
}

footer img {
  filter: brightness(0.3);
}

.project-mobile-popup img {
  width: 100%;
}

.project-template img {
  position: absolute;
  width: 345px;
  margin-left: -15px;
  height: auto;
  z-index: 0;
}

#skill-list img {
  margin: 0 10px 2px 0;
}

footer ul {
  margin-left: -25px;
}

#skill-list ul {
  font-weight: 400;
  font-size: 22px;
  list-style: none;
}

footer li {
  display: inline;
  padding: 10px 15px;
}

.project-mobile-template li {
  display: inline;
  padding: 10px 12px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.24);
}

.project-template li {
  display: inline;
  padding: 10px 12px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

#skill-list li {
  margin-bottom: 40px;
}

#projects {
  background-color: white;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 0.25fr);
  grid-template-rows: auto 448px;
  grid-row-gap: 50px;
  grid-column-gap: 40px;
}

#projects h2 {
  text-align: center;
  padding: 0 30px 10px 10px;
  font-size: 40px;
  font-family: 'Crete Round', serif;
}

#projects-title {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 3;
  padding: 135px 0 114px 0;
}

#projects-title hr {
  flex-grow: 1;
  margin-top: 60px;
  background-color: black;
  border: 1px solid black;
}

#project-main {
  grid-column: 1 / -1;
  display: flex;
  align-content: center;
}

#content-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#project-main h2 {
  text-align: left;
}

.project-template * {
  padding: 0 15px 10px 15px;
}

#project-main p {
  width: 448px;
}

#project-main li {
  display: inline;
  padding: 10px 12px;
  border: 1.5px solid #8993a4;
}

.see-project {
  height: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.project-mobile-template * {
  padding: 0 15px 10px 15px;
  z-index: 1;
}

.desktop-popup-open * {
  z-index: 3;
}

.project * {
  z-index: 1;
}

#project-main * {
  padding: 5px;
}

.project-template {
  background-size: cover;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  transition: 0.3s;
}

.project-template-show {
  display: none;
  width: 309px;
  height: 50px;
  grid-template-columns: 1fr;
  justify-content: end;
  text-align: center;
}

.project-template-show h4 {
  font-size: 17px;
  background: #f55800;
  color: white;
  width: 315.5px;
  height: 100%;
  line-height: 60px;
  margin: 1px 0 0 -15.5px;
}

.project-template:hover {
  border: 3px solid #1c1a19;
}

.project-template:hover .project-template-hide {
  display: none;
}

.project-template:hover .project-template-show {
  display: block;
}

.project-template h3 {
  font-size: 32px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.desktop-popup-open {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-desktop-popup {
  display: none;
}

.desktop-popup-open .exit {
  position: absolute;
  top: 80px;
  right: 160px;
  background: none;
  border: none;
  cursor: pointer;
}

.desktop-popup-main-div {
  width: 1156px;
  min-height: 600px;
  padding: 30px;
  top: 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop-popup-open #technologies-desktop {
  align-self: flex-start;
  width: auto;
  padding-left: 0;
  margin: 0 0 20px 0;
}

#technologies-desktop li {
  display: inline;
  border: 1px solid #3c3a39;
  padding: 10px;
  margin: 0 5px 0 0;
}

.desktop-popup-image-div {
  display: flex;
  flex-direction: row;
}

.desktop-popup-image-div .desktop-popup-image {
  flex: 6;
  width: 650px;
}

.desktop-popup-image-div .desktop-popup-paragraph-div {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}

#buttons-desktop {
  align-self: flex-start;
  padding: 0;
  margin-top: 120px;
}

#buttons-desktop li {
  display: inline;
  margin-right: 10px;
}

#buttons-desktop a:hover {
  padding: 18px 28px;
}

#buttons-desktop img {
  margin-bottom: -5px;
  width: 20px;
  filter: brightness(0) invert();
}

.mobile-popup-close {
  display: none;
}

.project-mobile-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.project-mobile-popup .exit {
  position: absolute;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.project-mobile-popup div {
  width: 80%;
  min-height: 500px;
  height: auto;
  padding: 20px;
  padding-bottom: 20px;
  margin: 5% 0 0 5%;
  display: inline-flex;
  background: white;
  flex-direction: column;
  align-items: center;
}

.project-mobile-popup #technologies-mobile {
  align-self: flex-start;
  width: auto;
  padding-left: 0;
  margin-left: 0;
}

#technologies-mobile li {
  display: inline;
  border: 1px solid black;
  padding: 5px;
  margin-right: 10px;
}

#buttons-mobile {
  align-self: flex-start;
  padding: 0;
}

#buttons-mobile li {
  display: inline;
  margin-right: 10px;
}

#buttons-mobile img {
  margin-bottom: -5px;
  width: 20px;
  filter: brightness(0) invert();
}

#projects-mobile {
  display: none;
  padding-bottom: 200px;
  background-color: white;
}

#projects-title-mobile {
  margin: 100px 0 0 0;
  text-align: center;
  font-family: 'Crete Round', serif;
  font-size: 24px;
  font-weight: 700;
}

#projects-title-mobile hr {
  border-top: 1px solid #1c1a19;
}

#project-mobile-main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

#project-mobile-main img {
  height: 237px;
  width: 327px;
}

#project-mobile-main h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
}

#project-mobile-main p {
  margin-top: -10px;
  line-height: 25px;
}

#project-mobile-main ul {
  margin-left: -40px;
}

#project-mobile-main li {
  display: inline;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.project-mobile-template {
  background-size: cover;
  height: 386px;
  width: 327px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  color: white;
}

.project-mobile-template .project-background {
  position: absolute;
  width: 327px;
  height: auto;
  margin-left: -15px;
  z-index: 0;
}

.project-mobile-template h3 {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  z-index: 1;
}

.project-mobile-template div {
  background-color: #f55800;
  align-self: center;
  margin-bottom: -50px;
  height: 15%;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

#headline {
  /*
  ---------------------------
  Background Related
  ---------------------------
  */
  background-image: url("../../rsc/images/Illustration-header.png");
  height: 640px;
  width: auto;
  background-repeat: no-repeat;
  background-position: right;
  background-clip: border-box;
  background-attachment: unset;
  background-size: 500px;

  /*
  ---------------------------
  */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

#headline ul {
  list-style: none;
  margin-left: -10px;
}

#headline li {
  padding: 5px;
}

#headline img {
  filter: brightness(0) invert(1);
  height: 20px;
}

#headline-content {
  margin-left: 50px;
}

#headline-content * {
  margin-bottom: -15px;
}

#headline-content h1 {
  font-size: 75px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
}

#headline-content h2 {
  font-size: 32px;
}

#headline-content p {
  font-size: 20px;
  width: 400px;
}

.contact-form-container {
  height: 844px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: left;
}

.contact-form-text {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 44px;
}

.contact-form-div {
  flex-basis: 600px;
}

.contact-form-text h3 {
  width: 455px;
  height: 256px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 20px;
}

.contact-form-inputs {
  height: 48px;
  border: none;
  border-bottom: 1px solid #979493;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.contact-form-inputs.invalid {
  border: 2px solid red;
}

.contact-form-button small.hide {
  display: none;
}

.contact-form-button small {
  display: inline;
  color: red;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

#contact-form-user-message {
  border: none;
  background-color: #fbf8f7;
  height: 114px;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.contact-form-button input {
  background-color: #f55800;
  border: none;
  padding: 10px 15px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  transition: 0.4s;
}

.contact-form-button input:hover {
  cursor: pointer;
  background-color: white;
  border: 3px solid #f55800;
  color: #f55800;
}

footer {
  display: flex;
  justify-content: center;
  height: 72px;
  padding: 10px auto 20px auto;
  background-color: white;
  border-top: 1px solid #8993a4;
}

@media only screen and (max-width: 600px) {
  .mobile-menu {
    display: none;
  }

  .open {
    display: block;
    position: fixed;
    margin-left: 0;
    background-color: #3c3a39;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 10;
  }

  .mobile-menu button {
    margin: 15px 25px 0 0;
    float: right;
    padding-bottom: 34px;
    background: none;
    border: none;
  }

  .mobile-menu img {
    filter: brightness(0) invert();
  }

  .menu-links {
    clear: right;
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
  }

  .menu-links a {
    border-bottom: 1px solid #fff5e1;
    cursor: pointer;
  }

  .menu-links h2 {
    padding: 0 0 0 15px;
    color: #fff5e1;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
  }

  header {
    padding: 0 24px;
    border: none;
  }

  header nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  #headline {
    background-position: right -135px bottom -60px;
    background-attachment: local;
    background-size: 300px;
    height: 590px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  #headline ul {
    margin-top: 35px;
    padding-left: 25px;
    text-align: left;
  }

  #headline li {
    display: inline;
  }

  #headline-content {
    margin-left: 25px;
  }

  #headline-content h1 {
    width: 350px;
    font-size: 40px;
  }

  #headline-content h2 {
    font-size: 24px;
  }

  #headline-content p {
    font-size: 16px;
    width: 300px;
  }

  #projects {
    display: none;
  }

  #projects-mobile {
    display: grid;
    grid-template-columns: 0.8fr;
    width: 100%;
    justify-content: center;
    grid-row-gap: 80px;
    padding-top: 40px;
  }

  #skills {
    height: 1901px;
    min-width: 80vw;
    max-width: 100vw;
    background-image: url("../../rsc/images/illustration-about.png");
    background-repeat: no-repeat;
    background-position: right -180px top 340px;
    background-attachment: local;
    background-size: 300px;
    color: white;
  }

  #about {
    width: 80%;
    margin-left: 30px;
    height: 540px;
    gap: 20px;
  }

  #about h2 {
    margin-top: 60px;
    font-size: 72px;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    color: #ff6b00;
  }

  #about p {
    width: 332px;
    margin: -50px 0 50px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #skills hr {
    width: 80vw;
    margin-left: 10vw;
    border: none;
    border-top: 1px solid white;
  }

  #skill-list {
    width: 320px;
    margin: 40px 0 0 0;
    grid-template-columns: 0.8fr;
  }

  #skill-list ul {
    text-align: center;
    margin-top: -10px;
  }

  #skill-list li {
    width: calc(100% + 30px);
  }

  .contact-form-container {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }

  .contact-form-div {
    flex-basis: 400px;
  }

  .contact-form-text h3 {
    width: 327px;
    height: 256px;
  }

  .contact-form {
    margin-top: 40px;
    grid-template-columns: 0.75fr;
  }

  .contact-form-button small {
    padding-top: 10px;
    display: block;
  }
}
