*::before * *::after {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #1c1a19;
  font-family: "Roboto", sans-serif;
}

body p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header {
  height: 62px;
  padding: 0 154px;
  background-color: #3c3a39;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

/*
---------------------------
Nav Bar Related
---------------------------
*/

header a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.project-mobile-template a {
  text-align: center;
  color: white;
  width: 100px;
  line-height: 55px;
  text-decoration: none;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

header a:hover {
  color: #ff6b00;
}

#logo {
  display: flex;
}

#logo a {
  font-weight: 700;
  font-size: 20px;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  display: inline;
  padding: 0 5px 0 5px;
  margin-right: 32px;
}

#menu-icon {
  display: none;
}

/*
---------------------------
*/

#about {
  width: 700px;
  margin-left: 165px;
  height: 540px;
  gap: 20px;
}

#about h2 {
  margin-top: 130px;
  font-size: 72px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  color: #ff6b00;
}

.project-template p {
  margin-top: -20px;
  font-weight: 300;
}

.project-mobile-template p {
  margin-top: -20px;
  width: 295px;
}

#about p {
  width: 566px;
  margin: -50px 0 50px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

#about a {
  padding: 12px 10px;
  background-color: #f55800;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

#skills {
  height: 1195px;
  width: calc(100% + 15px);
  background-image: url("../../rsc/images/illustration-about.png");
  background-repeat: no-repeat;
  background-position: right bottom 750px;
  color: white;
}

#project-main a {
  padding: 15px;
  background-color: #f55800;
  color: white;
  text-decoration: none;
}

#projects a {
  transition: 0.4s;
}

#project-mobile-main a {
  padding: 15px;
  background-color: #f55800;
  color: white;
  text-decoration: none;
}

#skills a {
  transition: 0.4s;
}

#projects a:hover {
  transition: 0.4s;
  border: 2px solid #f55800;
  background: none;
  color: #f55800;
}

#project-mobile-main a:hover {
  transition: 0.4s;
  border: 2px solid #f55800;
  background: none;
  color: #f55800;
}

#skills a:hover {
  transition: 0.4s;
  border: 2px solid #f55800;
  background: none;
  color: #f55800;
}

#skills hr {
  width: 1156px;
  border: none;
  border-top: 1px solid white;
}

#skill-list {
  width: 1200px;
  margin: 100px 0 0 170px;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.333fr 0.333fr 0.333fr;
  font-family: 'Inter', sans-serif;
}

#skill-list h2 {
  font-weight: 700;
  font-size: 32px;
}

#skill-list img {
  margin: 0 10px 2px 0;
}

#skill-list ul {
  font-weight: 400;
  font-size: 22px;
  list-style: none;
}

.project-mobile-template li {
  display: inline;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.project-template li {
  display: inline;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

#skill-list li {
  margin-bottom: 40px;
}

#projects {
  background-color: white;
  width: 100vw;
  height: auto;
  padding-bottom: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.25fr 0.25fr 0.25fr;
  grid-template-rows: auto 448px;
  grid-row-gap: 50px;
  grid-column-gap: 40px;
}

#projects h2 {
  text-align: center;
  padding: 0 30px 10px 10px;
  font-size: 40px;
  font-family: 'Crete Round', serif;
}

#projects-title {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 3;
  padding: 135px 0 114px 0;
}

#projects-title hr {
  flex-grow: 1;
  margin-top: 60px;
  background-color: black;
  border: 1px solid black;
}

#project-main {
  grid-column: 1 / -1;
  display: flex;
  align-content: center;
}

#content-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#project-main h2 {
  text-align: left;
}

.project-template * {
  padding: 0 15px 10px 15px;
}

#project-main p {
  width: 448px;
}

#project-main li {
  display: inline;
  padding: 10px 12px;
  border: 1.5px solid #8993a4;
}

.see-project {
  height: 10px;
  margin-top: 20px;
}

.project-mobile-template * {
  padding: 0 15px 10px 15px;
}

#project-main * {
  padding: 5px;
}

.project-template {
  background-size: cover;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
}

.project-template h3 {
  font-size: 32px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.project-1 {
  grid-column: 1 / 2;
  border: 3px solid #f55800;
  background-image: url("../../rsc/images/Img-Placeholder.png");
}

.project-1 div {
  background-color: #f55800;
  align-self: center;
  margin-bottom: -2px;
  height: calc(15% + 2px);
  width: calc(100% + 2px);
  padding: 0;
}

.project-1 h4 {
  font-size: 17px;
  text-align: center;
}

.project-2 {
  grid-column: 2 / 3;
  background-image: url("../../rsc/images/Img-Placeholder_01.png");
}

.project-3 {
  grid-column: 3 / 4;
  background-image: url("../../rsc/images/Img-Placeholder_02.png");
}

.project-4 {
  background-image: url("../../rsc/images/Img-Placeholder_03.png");
}

.project-5 {
  background-image: url("../../rsc/images/Img-Placeholder_01.png");
}

.project-6 {
  background-image: url("../../rsc/images/Img-Placeholder_02.png");
}

#projects-mobile {
  display: none;
  padding-bottom: 200px;
  background-color: white;
}

#projects-title-mobile {
  margin: 100px 0 0 0;
  text-align: center;
  font-family: 'Crete Round', serif;
  font-size: 24px;
  font-weight: 700;
}

#projects-title-mobile hr {
  border-top: 1px solid #1c1a19;
}

#project-mobile-main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

#project-mobile-main img {
  height: 297px;
  width: 387px;
}

#project-mobile-main h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
}

#project-mobile-main p {
  margin-top: -10px;
  line-height: 25px;
}

#project-mobile-main ul {
  margin-left: -40px;
}

#project-mobile-main li {
  display: inline;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.project-mobile-template {
  background-image: url("../../rsc/images/Img-Placeholder_03.png");
  background-size: cover;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  color: white;
}

.project-mobile-template h3 {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.project-mobile-template div {
  background-color: #f55800;
  align-self: center;
  margin-bottom: -50px;
  height: 15%;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

#headline {
  /*
  ---------------------------
  Background Related
  ---------------------------
  */
  background-image: url("../../rsc/images/Illustration-header.png");
  height: 640px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: right;
  background-clip: border-box;
  background-attachment: unset;
  background-size: 500px;

  /*
  ---------------------------
  */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

#headline ul {
  list-style: none;
  margin-left: -10px;
}

#headline li {
  padding: 5px;
}

#headline img {
  filter: brightness(0) invert(1);
  height: 20px;
}

#headline-content {
  margin-left: 50px;
}

#headline-content * {
  margin-bottom: -15px;
}

#headline-content h1 {
  font-size: 75px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
}

#headline-content h2 {
  font-size: 32px;
}

#headline-content p {
  font-size: 20px;
  width: 400px;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0 24px;
    border: none;
  }

  header nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  #headline {
    background-position: right -135px bottom -60px;
    background-attachment: local;
    background-size: 300px;
    height: 590px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  #headline ul {
    margin-top: 35px;
    padding-left: 25px;
    text-align: left;
  }

  #headline li {
    display: inline;
  }

  #headline-content {
    margin-left: 25px;
  }

  #headline-content h1 {
    width: 350px;
    font-size: 40px;
  }

  #headline-content h2 {
    font-size: 24px;
  }

  #headline-content p {
    font-size: 16px;
    width: 300px;
  }

  #projects {
    display: none;
  }

  #projects-mobile {
    display: grid;
    grid-template-columns: 0.8fr;
    width: 99vw;
    justify-content: center;
    grid-row-gap: 80px;
    padding-top: 40px;
  }

  #skills {
    height: 1901px;
    width: calc(100% + 5px);
    background-image: url("../../rsc/images/illustration-about.png");
    background-repeat: no-repeat;
    background-position: right -180px top 340px;
    background-attachment: local;
    background-size: 300px;
    color: white;
  }

  #about {
    width: 80%;
    margin-left: 50px;
    height: 540px;
    gap: 20px;
  }

  #about h2 {
    margin-top: 130px;
    font-size: 72px;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    color: #ff6b00;
  }

  #about p {
    width: 372px;
    margin: -50px 0 50px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #skills hr {
    width: 372px;
    border: none;
    border-top: 1px solid white;
  }

  #skill-list {
    width: 400px;
    margin: 40px 0 0 0;
    grid-template-columns: 0.8fr;
  }

  #skill-list ul {
    text-align: center;
    margin-top: -10px;
  }
}
